<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <!-- Add the Bootstrap CDN link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="fragments/navbar :: main-navbar"></div>

<div class="container mt-4 mb-4">
    <h1>User Profile</h1>

    <div class="card mt-4">
        <div class="card-header">
            <h2>User Details</h2>
        </div>
        <div class="card-body">
            <p class="card-text">Email: <span th:text="${user.emailAddress}"></span></p>
            <p class="card-text">Display Name: <span th:text="${user.displayName}"></span></p>
            <!-- Add other user details as needed -->
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h2>Bids Placed</h2>
        </div>
        <div class="card-body">
            <p th:if="${bidsPlaced==null || bidsPlaced.isEmpty()}" class="card-text">You haven't placed any bids</p>
            <ul class="list-group">
                <li th:each="bid : ${bidsPlaced}" class="list-group-item">
                    <a th:href="@{|products/${bid.productId}|}" class="stretched-link">
                        <p class="card-text">Product Name <span th:text="${bid.productName}"></span></p>
                    </a>
                    <p class="card-text">Bid Amount: <span th:text="${bid.amount}"></span></p>
                    <p class="card-text">Bid Date: <span th:text="${#dates.format(bid.date, 'MM/dd/yyyy HH:mm')}"></span></p>
                </li>
            </ul>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h2>Products Posted</h2>
        </div>
        <div class="card-body">
            <p th:if="${productsPosted==null || productsPosted.isEmpty()}" class="card-text">You haven't posted any products</p>
            <ul class="list-group">
                <li th:each="product : ${productsPosted}" class="list-group-item">
                    <a th:href="@{|products/${product.id}|}" class="stretched-link">
                        <p class="card-text">Product Name: <span th:text="${product.name}"></span></p>
                    </a>
                    <p class="card-text">Start Date: <span th:text="${#dates.format(product.startDate, 'MM/dd/yyyy HH:mm')}"></span></p>
                    <p class="card-text">End Date: <span th:text="${#dates.format(product.endDate, 'MM/dd/yyyy HH:mm')}"></span></p>
                    <p class="mb-2" th:if="${product.currentPrice != null}">Current Price: $<span th:text="${#numbers.formatDecimal(product.currentPrice, 0, 'COMMA', 2, 'POINT')}"></span></p>
                    <p class="mb-2" th:if="${product.currentPrice == null}">Current Price: <span>There are no bids yet.</span></p>
                    <!-- Add other product details as needed -->
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
